.title-arch {
    text-align: center;
    margin: 50px 0;
    font-size: 26px;
    letter-spacing: 2px;
   /*  text-transform: uppercase; */
}

/*

If the browser window is 500px or smaller, the background color will be lightblue:

@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

*/

.project {
    width: 100%;
    height: 410px;
    background-size: cover;
    background-position: center;
    padding: 0 !important;
    float: left;
}

@media only screen and (max-width: 2000px) {
    .project {
        width: 100%;
        height: 410px;
        background-size: cover;
        background-position: center;
        padding: 0 !important;
        float: left;
    }
}
@media only screen and (min-width: 2000px) {
    .project {
        width: 100%;
        height: 600px;
        background-size: cover;
        background-position: center;
        padding: 0 !important;
        float: left;
    }
}

.project-1 {
    background-image: url(../img/dog.png);
}
.project-2 {
    background-image: url(../img/bird.png);
}

.project-3 {
    background-image: url(../img/tent.png);
}

.project-4 {
    background-image: url(../img/clover.png);
}

.project-5 {
    background-image: url(../img/cart.png);
}

.project-6 {
    background-image: url(../img/portfolio.png);
}

.project-7 {
    background-image: url(../img/resume.png);
}

.project-8 {
    background-image: url(../img/textbook.png);
}

.project-9 {
    background-image: url(../img/cards.png);
}

.project-10 {
    background-image: url(../img/checkers.png);
}

.project-11 {
    background-image: url(../img/marketplace.png);
}

.project-12 {
    background-image: url(../img/fsharp.png);
}

.project-13 {
    background-image: url(../img/filetransfer.png);
}

.project-14 {
    background-image: url(../img/dice.png);
}

.project-15 {
    background-image: url(../img/breakout.png);
}

.project-16 {
    background-image: url(../img/govt.png);
}

.project-hover {
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    padding: 30% 30px !important;
}

.project-hover hr {
    height: 20px;
    width: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 1);
    border: 0;
}

.project-hover a {
    color: rgba(255, 255, 255, 1);
    padding: 2px 22px;
    line-height: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
    border-color: rgba(51, 51, 51, 1);
    color: rgba(51, 51, 51, 1);
    background-color: #FFF;
}

.project:hover .project-hover {
    opacity: 1;
}

.project:hover .project-hover hr {
    width: 100%;
    height: 5px;
}

img {
    display: block;
    margin: 0 auto;
}

#header-content {
    position: absolute;
    bottom: 0px;
    
}


/*blinking cursor */

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



/* svg */
.em, .em-svg {
    height: 1em !important; 
    width: 1em !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: -3px !important;
}